<div class="footer">
  <div class="footer-links">
<!--       <a href='#'>Terms and Conditions</a>
      <a href='#'>Privacy Policy</a> -->
  </div>
  <div class="footer-copyright">
    <p>Affiliated to <i>The 2nd Battalion, The Mercian Regiment</i></p>
  </div>
</div>
