.footer {
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    opacity: 1;
  }
  a:hover {
    opacity: 0.6;
  }
}
